@font-face {
  font-family: "toronto";
  src: url("/fonts/toronto.ttf");
}

@font-face {
  font-family: "sanfran";
  src: url("/fonts/sanfran.ttf");
}

@font-face {
  font-family: "chicago";
  src: url("/fonts/chicago.ttf");
}

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #c8c8c8; /* color of the thumb */
  border-radius: 2px; /* rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; /* color of the thumb on hover */
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
